.alert {
    border-radius: 0px !important;
}
p.alert-message {
    margin-bottom: 0em !important;
}
img.company-logo {
    width: 200px;
}
footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
label#email_address-error {
    color: #ff0000;
}
::-webkit-input-placeholder {
    color: #dfdfdf !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #dfdfdf !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #dfdfdf !important;
  }
span.error-message {
    display: block;
    padding: 2px 10px;
    background: #ff6060 !important;
    font-size: 12px;
    color: #fff;
    width: 100%;
}